APP_HOST=app.seudominio.com.br
SANCTUM_STATEFUL_DOMAINS=app.seudominio.com.br
RUN_MIGRATIONS_ON_START=true

APP_NAME="TechOS Flow"
APP_KEY=
LARAVEL_PDF_DRIVER=dompdf
LARAVEL_PDF_DOMPDF_REMOTE_ENABLED=false

POSTGRES_DB=techos_flow
POSTGRES_USER=techos_flow
POSTGRES_PASSWORD=troque-esta-senha

MAIL_MAILER=smtp
MAIL_SCHEME=smtps
MAIL_HOST=smtp.seu-provedor.com
MAIL_PORT=465
MAIL_USERNAME=suporte@seudominio.com.br
MAIL_PASSWORD=troque-esta-senha
MAIL_FROM_ADDRESS=suporte@seudominio.com.br
MAIL_FROM_NAME="TechOS Flow"

POSTGRES_DATA_PATH=/srv/techos-flow/data/postgres
BACKEND_STORAGE_PATH=/srv/techos-flow/data/backend-storage
CADDY_DATA_PATH=/srv/techos-flow/data/caddy/data
CADDY_CONFIG_PATH=/srv/techos-flow/data/caddy/config
